{% if page.layout == "home" %}
    <h4>Quick Links</h4>
    <ul>
        <li><a href="https://odyssey.uwaterloo.ca/teaching/schedule" target="_blank">Exam Seating</a></li>
        <li><a href="https://cs.uwaterloo.ca/cscf/teaching/schedule/expert" target="_blank">Class Schedules</a></li>
        <li><a href="https://odyssey.uwaterloo.ca/ofcourse/app/" target="_blank">Course Offerings</a></li>
        <li><a href="https://cs.uwaterloo.ca/current/courses/course_descriptions/">CS Courses</a> </li>
        <li><a href="https://uwaterloo.ca/music/courses" target="_blank">Music Courses</a> </li>
        <li><a href="https://uwaterloo.ca/psychology/current-undergraduate-students/psychology-courses/psychology-course-availability" target="_blank">Psych Courses
        </a> </li>
        <li><a href="https://uwaterloo.ca/philosophy/undergraduate/current-course-offerings" target="_blank">Phil Courses
        </a> </li>
        <li><a href="https://podor.org/">Podor</a></li>
    </ul>
{% endif %}
